{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" >
    <link rel="stylesheet" href="{% static 'x/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'x/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                {% block sidebar %}
                <div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar-expanded">
                    <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-4"><strong><i class="fa-solid fa-paw"></i> HelPet</strong></span>
                    </div>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            {% url 'home' as home %}
                            <a href="{{ home }}" class="nav-link text-white {% if request.path == home %}active{% endif %}">
                                <i class="fa-solid fa-house"></i> Início
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url 'chat-list' as chats %}
                            <a href="{{ chats }}" class="nav-link text-white {% if request.path == chats %}active{% endif %}">
                                <i class="fa-solid fa-comment-dots"></i> Meus Chats
                            </a>
                        </li>
                        {% if request.user.is_superuser %}
                        <li class="nav-item">
                            {% url 'user-list' as users %}
                            <a href="{{ users }}" class="nav-link text-white {% if request.path == users %}active{% endif %}">
                                <i class="fa-solid fa-users"></i> Usuários
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    <hr>
                    <div class="dropdown">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'img/avatar.png' %}" alt="" width="32" height="32" class="rounded-circle me-2">
                            <strong>{{ request.user.username }}</strong>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                            <li>
                                <form action="{% url 'logout' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item"><i class="fa-solid fa-right-from-bracket"></i> Sair</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endblock %}
            </div>
            <div class="col-10">
                <h1 class="mt-4"><strong>{% block subtitle %}{% endblock %}</strong></h1>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} mt-4">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <script src="{% static 'x/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'x/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'x/fontawesome/js/all.min.js' %}"></script>
    <script src="{% static 'x/charts/charts.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
